body{
        background-color: #f3c1bd;
        font-family: Helvetica, arial;
        color: #76448A;
        font-size:100%;
}

@media screen and (min-width: 500px) {
    body{font-size: 200%;}
}

@media screen and (min-width: 720px) {
    body{font-size: 300%;}
}

#main {
    width: auto;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.mainContainer {
    width: 100%;
}

.section{
    width: 100%;
    display: inline-block;
}
