@import "https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .layout {
    position: "relative";
    color: "#414141";
    margin: 100;
    padding: 100;
    padding-top: 50;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .layout {
    position: "relative";
    color: "#414141";

    padding: 80;
    padding-top: 20;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .layout {
    position: "relative";
    color: "#414141";

    padding: 60;
    padding-top: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .layout {
    position: "relative";
    color: "#414141";
    padding: 20;
    padding-top: 0;
  }
}
